# Dependencies
**/node_modules/
**/.pnp
.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js (workbench-ui)
workbench-ui/.next/
workbench-ui/out/
workbench-ui/build/
workbench-ui/next-env.d.ts
workbench-ui/*.tsbuildinfo

# Go (workbench-core)
workbench-core/data/
workbench-core/workbench
workbench-core/bin/
**/debug
**/*.exe
**/*.test
**/.DS_Store


# Misc/Debug
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*
**/ .env*

# Vercel
.vercel
